extends layout.pug

include utils.pug

block content
    div(class='errors')
        div(class='errors-container')
            +validationErrorSummary(errors)
    div(class='answer-field-container')
        form(action=`/questions/${id}/answers`, method="post")
            input(type="hidden", name="_csrf" value=csrfToken)
            div.answer-label
                label(for="answer" class='answer-label') Answer
            textarea(class='answer-field' name="answer", cols="42", rows="20")
            div(class='answer-btn-container')
                button(class='submit-btn' type="submit") Submit
            div
                a(href="/") Cancel
