extends layout.pug 

block content 
        form(action="/answers", method="post") 
            input(type="hidden", name="_csrf" value=csrfToken)
            label(for="answer") Answer
            textarea(name="answer", cols="30", rows="10")  
            button(type="submit") Submit 
            a(href="/users") Cancel

