extends layout.pug

include utils.pug

block content
    +validationErrorSummary(errors)
    form(action=`/questions/${id}/answers`, method="post")
        input(type="hidden", name="_csrf" value=csrfToken)
        label(for="answer") Answer
        textarea(name="answer", cols="30", rows="10")
        button(type="submit") Submit
        a(href="/") Cancel
