extends layout.pug

include utils.pug

block content
    div(class="add-question-form-container")
        form(action="/questions/add" method="post")
            div(class="errors")
                +validationErrorSummary(errors)
                div(class="ask-form")
                    label(for="question") Ask a question.
                    input(type="hidden" name="_csrf" value=csrfToken)
                    textarea(name="question" rows=20 cols=50)
                    button(type="submit") Submit question
