div(class='question-list-container')
    div(class='question-list-box')
        div(class='question-list-header-box')
            h1.question-form-header Questions
        ul(class='questions-list')
            each question in questions
                li.question-info-box
                    div(class='qs-stats-container')
                        div(class='qs-votes-container')
                            button(type="button" class="upvote-button") Up Vote
                            span(class='votes-number') 0
                            button(type="button" class="downvote-button") Down Vote
                    div(class='question-info')
                            a(class="question" href=`/questions/${question.id}`) #{question.question}
