table(class="questions")
    thead(class="question")
        tr
            th Questions
    tbody
        each question in questions
            tr
                td: a(class="question" href=`/questions/${question.id}`) #{question.question}

