extends layout.pug

block content
    div(class="question-container")
        h1 #{question.question}
            ul
                each answer in question.Answers
                    li #{answer.answer}
