extends layout.pug

block content
    div(class="no-entry")
        img(src='/images/no-entry.jpg' class="no-entry-image")
    div(class="unauthorized")
        p(class="unauthorized-text") You are not authorized to answer questions
    div(class="goHome")
        a(href='/') Home
