extends layout.pug

include utils.pug

block content
    +validationErrorSummary(errors)
    div(class="registration-form")
        form(action="/users/register", method="post")
            input(class="input" type="hidden", name="_csrf" value=csrfToken)
            label(class="label" for="userName") User Name
            input(class="input" type="text" name="userName" id="userName" value=user.userName)
            label(class="label" for="email") Email
            input(class="input" type="text" name="email" id="email" value=user.email)
            div(id="professional-check")
                label(class="label" for='professionalUser') Professional User?
                input(id="checkbox" type="checkbox" name="professionalUser" checked=user.professionalUser)
            label(id="password-label" class="label" for="password") Password
            input(class="input" type="password" name="password" id="password")
            label(class="label" for="confirmPassword") Confirm Password
            input(class="input" type="password" name="confirmPassword" id="confirmPassword")
            div(class="register")
                button(id="submit-button" type="submit") Submit!
    div(class="login-container")
        p: a(class="login" href='/users/login') Already a member?
