extends layout.pug 

include utils.pug 

block content
    div(class='errors')
        div(class='errors-container')
            +validationErrorSummary(errors)
    div(class='login-form')
        form(action="/users/login", method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(class='label' for="email") Email Address
            input(class='input' type="text" name='email') 
            label(class='label' for="password") Password
            input(class='input' type="password", name="password") 
            button(id="submit-button" type="submit") Login!
    div(class='login-container') 
        p: a(class='login' href='/users/register') Don't have an account?