extends layout.pug 

block content 
    form(action="/user/register", method="post") 
        input(type="hidden", name="_csrf" value=csrfToken)
        label(for="userName") User Name
        input(type="text" name="userName" id="userName")
        label(for="email") Email
        input(type="text" name="email" id="email")
        label(for='professionalUser') Professional User?
        input(type="checkbox" name="professionalUser" checked)
        label(for="password") Password
        input(type="password" name="password" id="password")
        label(for="confirmPassword") Comfirm Password
        input(type="password" name="confirmPassword" id="confirmPassword")
        button(type="submit") Submit!