mixin validationErrorSummary(errors)
  if errors
    div(class='error-message')
      p(class='error-message') The following error(s) occurred:
      ul
        each error in errors
          li(class='error-message')= error