/* form styles
Questions form
Answers form
Registration form
Log In form
*/


button {
  background-color: #f4825f;
  border: 1px solid #b53618;
  padding: 5px 7px 5px 7px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

button:hover {
  background-color: #1c1e2e;
  border: 1px solid #1c1e2e;
  color: white
}

button:active {
  background-color: #1c1e2e;
  border: 1px solid #1c1e2e;
  color: white
}

.darkButton {
  background-color: #1c1e2e;
  border: 1px solid #1c1e2e;
  color: white
}

.darkButton:hover:active {
  background-color: #4e5060;
  border: 1px solid #1c1e2e;
  color: white
}

input,
textarea {
  background-color: white;
  padding: 5;
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  font-family: 'Source Sans Pro', sans-serif;
}

select {
  padding: 3;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

label {
  font-family: 'Roboto Condensed', sans-serif;
}

.registration-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.input {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    box-sizing: content-box;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-container {
    display: flex;
    justify-content: center;
}

.register {
    display:flex;
    justify-content: center;
}

#submit-button {
    width: 100%;
    margin-top: 10px;
    font-weight: bolder;
    font-size: larger;
}

#professional-check {
    display: flex;
    align-items: end;
    margin-bottom: 15px;
}

#checkbox {
    margin-left: 10px;
}

.login:hover {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1c1e2e;
}

.login-form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.label {
    font-size: larger;
    font-weight: bolder;
}


.errors {
    display: flex;
    justify-content: center;
}

.errors-container {
    background-color: white;
    color: #b53618;
    width: 300px;
}

.error-message {
    font-size: medium;
    font-weight: bold;
}

