/* form styles
Questions form
Answers form
Registration form
Log In form
*/

.registration-form {
    display: flex;
    justify-content: center;
}

.input {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    box-sizing: content-box;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-container {
    display: flex;
    justify-content: center;
}

.register {
    display:flex;
    justify-content: center;
}

#submit-button {
    width: 100%;
    margin-top: 10px;
}

#professional-check {
    displaY: flex;
    align-items: end;
    margin-bottom: 15px;
}

#checkbox {
    margin-left: 10px;
}
