h1 {
    color: #555555;
}
header {
    display: flex;
    justify-content: space-between;
}
.nav_bar {
    display: flex;
    background-color: blue;
    box-sizing: border-box;
    height: 55px;
    color: black
}

.home-container {
    background-color: lightblue;
    align-content: center;
    margin: 15px;
}

.home-button {
    padding-bottom: 5px;
}

.logout-container {
    margin: 15px;
}

