/*MedFlowClinic Styles
Colors:
    light aqua: #c3dedf //main background color
    bright orange: #f4825f      //high contrast
    dark orange: #b53618 //darker contrast for actions and error text
    lighter orange: #ffcca9 //background color of error messages
    dark blue: #1c1e2e
    dark blue highlight: #4e5060
    white: #FFFFFF
    black: #000000
    grey: medium grey
    alternate header aqua: #527273
    alternate header highlight: #778e8f


Font: 
use for:
Headers and title fonts:
font-family: 'Roboto Condensed', sans-serif;
Paragraph and body text:
font-family: 'Source Sans Pro', sans-serif;

link to style guide image:
/images/style-guide.png


*/


/* imports
*/

@import url('reset.css');
@import url('main_nav.css');
@import url('main_content.css');
@import url('questions_answers_page.css');
@import url('forms.css');
@import url('user-homepage.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');