@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');
a {
  text-decoration: none;
}

a:visited {
  color: #1c1e2e;
}

h1 {
  color: #1c1e2e;
}

header {
  box-sizing: border-box;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  /* border: 1px solid red; */
  width: 90%;
  background-color: #ffffff;
  margin: 10px auto;
}

.header_bar {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid green; */
  /* margin-bottom: 20px;
  margin-top: 15px; */
}

.medflow-logo {
  height: 100%;
  display: flex;
  align-content: center;
  background-color: #1c1e2e;
  color: white;
}

.medflow-logo a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  padding: 0;
  color: #c3dedf;
  margin: auto 15px;
  /* background-color: ; */
}

.medflow-logo a:visited {
  color: #c3dedf;
}

.medflow-logo a:hover {
  color: white;
}

.username-header {
  font-size: 1em;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  /* border: 1px solid red; */
}

.nav-link a {
  padding: 10px;
}

.nav-link a:visited {
  color: #1c1e2e;
}

.nav-link a:hover {
  color: #b53618;
}

.home-icon {
  width: 40px;
  height: 40px;
  padding-left: 20px;
  fill: #1c1e2e;
}

.home-icon:hover {
  fill: #b53618;
}

.login-logout-container {
  margin: 0 0 0 20px;
  /* border: 1px solid red; */
}

.questions {
  margin-right: 20px;
}

.login-logout-container button {
  margin-right: 20px;
  /* border: 1px solid red; */
}

.demo-container {
  width: 80px;
  height: 60px;
  padding: 0;
  margin: 0;
  font-size: 15pt;
  font-weight: bold;
}

.right-arrow {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #b53618;
  color: #f4825f;
  background-color: #1c1e2e;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

.ask-question-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 3px auto;
  align-self: flex-end;
}


.user-icon {
  width: 40px;
  height: 40px;
  margin: 0;
  fill: #1c1e2e;
  display: block;
}

.user-icon:hover {
  fill: #b53618;
}

.register-container {
  margin: 10px;
  color: #1c1e2e;
}


/* register-container a:visited {
  color: #1c1e2e;
} */

