/*MedFlowClinic Styles
Colors:
    light aqua: #c3dedf //main background color
    bright orange: #f4825f      //high contrast
    dark orange: #b53618 //darker contrast for actions and error text
    lighter orange: #ffcca9 //background color of error messages
    dark blue: #1c1e2e
    dark blue highlight: #4e5060
    white: #FFFFFF
    black: #000000
    grey: medium grey
    alternate header aqua: #527273
    alternate header highlight: #778e8f


Font:
use for:
Headers and title fonts:
font-family: 'Roboto Condensed', sans-serif;
Paragraph and body text:
font-family: 'Source Sans Pro', sans-serif;

link to style guide image:
/images/style-guide.png


*/


/*
Nav bar
icons: user , login, logout search, logo, up/vote down
fonts, title
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');
a {
  text-decoration: none;
}

h1 {
  color: #1c1e2e;
}

header {
  box-sizing: border-box;
  height: fit-content;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  /* border: 1px solid red; */
  width: 90%;
  background-color: #ffffff;
  margin: 10px auto;
}

.medflow-logo {
  height: 50px;
}

.medflow-logo a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  padding: 30px 5px 0 30px;
  color: #527273;
  /* background-color: ; */
}

.header_bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  margin-bottom: 20px;
  margin-top: 15px;
}

.username-header {
  font-size: 1em;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 10px auto;
  width: 30%;
}

.home-icon {
  width: 40px;
  height: 40px;
  padding: 0;
  fill: #1c1e2e;
}

.home-icon:hover {
  fill: #b53618;
}

.login-logout-container {
  margin: 0px;
  margin: auto 5px;
  /* border: 1px solid red; */
}

.demo-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: 100px;
  height: 50px;
  background-color: #1c1e2e;
  padding: 0;
  margin: Auto 5px;
}

.right-arrow {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #b53618;
  color: #f4825f;
  background-color: #1c1e2e;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

.ask-question-container {
  margin: 3px auto;
  align-self: flex-end;
}


.user-icon {
  margin: auto 3px;
  width: 30px;
  height: 30px
}

.register-container {
  margin: 10px;
}
