/* Questions page with answers */
div {
    display: block;
}

li {
    list-style-type: none;
}

.box-container {
    width: 100%;
    height: 100%;
    display: grid;
}

.page {
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-top: 30px;
}

.left-menu-container {
    background-color: white;
    max-width: 200px;
    border-right: 1px solid #dad9d9;
}

.ask-question-button {
    margin: 20px;
    cursor: pointer;
}

.question-container {
    display: flex;
    justify-content: center;
    border: 10px;
    background-color: white;
    padding: 24px;
}

.question-box {
    display: flexbox;
    width: 100%;
}

.question-header {
    display: flex;
    justify-content: space-between;
    height: 60px
}

.answer-btn {
    color: black;
    background-color: #f4825f;
    justify-content: center;
    border-radius: 1px;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
    position: relative;
    height: 40px;
    cursor: pointer;
}

.space-row {
    display: flex;
    border-bottom: 1px solid #dad9d9;
    margin: 10px;
}

.question-body-box {
    display: flex;
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: 16px;
    padding-top: 16px;
}

.question-content-container {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}


.question-info-container {
    display: flex;
    justify-content: center;
    width: 100%
}

.question-user {
    margin-left: 200px;
}

.user-info-box {
    align-items:center ;
    display: flex;
}


.fas.fa-caret-up:hover {
    cursor: pointer;
    color: #f4825f;
}

.fas.fa-caret-down:hover {
    cursor: pointer;
    color: #f4825f;
}



.question {
    color: #1c1e2e;
    font-size: 24px;
}

.answer-container {
    display: flex;

}


.answer-box {
    width: 100%;
    list-style-type: none;
    padding-top: 10px;

}

.answer-header {
    display: flex;
    justify-content: space-between;
    height: 60px
}


.answer-body-box {
    margin-top: 15px;
    display: flex;
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: 16px;
    padding-top: 16px;
}

.answer-content-container {
    display: flex;
    background-color: white;
}

.answer-info-container {
    display: flex;
    justify-content: center;
    width: 100%
}

.question-user {
    margin-left: 200px;
}

.user-info-box {
    align-items:center ;
    display: flex;
}


.fas.fa-caret-up:hover {
    cursor: pointer;
    color: #f4825f;
}

.fas.fa-caret-down:hover {
    cursor: pointer;
    color: #f4825f;
}

.question-content-container {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.question {
    color: #1c1e2e;
    font-size: 24px;
}
