/* Questions page with answers */
div {
    display: block;
}

.box {
    width: auto;
    height: 100%;
}

.box-container {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.left-menu-container {
    overflow-y: auto;
    min-width: 190px;
    background-color: white;
    position: static;
    padding-top: 24px;
    margin-left: 60px;
    border-right: 1px solid #d6d9dc;
}

.question-container {
    display: flex;
    border: 10px;
    height: 100%;
    background-color: white;
    padding: 24px;
    margin-right: 60px;
}

.question-box {
    display: flexbox;
    width: 100%;
}

.question-header-box {
    display: flex;
    justify-content: space-between;
    height: 60px
}

.answer-button-container {
    margin-left: 100px;
    display: flex;
}

.answer-btn {
    color: black;
    background-color: #f4825f;
    margin-left: 20px;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
    height: 30px;
    width: 80px;
}

.question-body-box {
    display: flex;
}

/* .vote-container-box {

} */

.question-content-container {
    display: flex;
}

.question-container {
    display: flex;
    justify-content: center;

}

.question-user {
    margin-left: 200px;
}

.user-info-box {
    align-items:center ;
    display: flex;
}

/* .question {
    color: #1c1e2e;
}

.question-box {
    border-radius: 5px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px 20px 0px 20px;
    width: fit-content;
    border: 1px solid black;
}

.answer-btn {
    margin-top: 40px;
}

.answers {
    display: flex;
    justify-content: center;
} */

/* .answer-container {
    border-radius: 5px;
    background-color: white;
    width: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 100px;
    margin: 10px;
}

.answers-info-box {
    background-color: white;
    padding: 24px;
}

.userName {
    margin-left: 30px;
    color: #1c1e2e;
}

.userNameAnswers {
    margin-right: 80px;
    color: #1c1e2e;
} */
