.unauthorized {
    display: flex;
    justify-content: center;
}

.goHome {
    display: flex;
    justify-content: center;
}

.no-entry {
    display: flex;
    justify-content: center;
}

.unauthorized-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
